* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
header img {
	float: left;
	width: 100%;
}
/* jssor slider bullet navigator skin 01 css */

/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
#jssor_1 {	
	width: 100%;
	position: absolute;
	margin-bottom: 50px;
}
.jssorb01 {
	position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
	position: absolute;            
	width: 12px;
	height: 12px;
	filter: alpha(opacity=70);
	opacity: .7;
	overflow: hidden;
	cursor: pointer;
	border: #000 1px solid;
}
.jssorb01 div {
	background-color: gray;
}
.jssorb01 div:hover, .jssorb01 .av:hover {
	background-color: #d3d3d3;
}
.jssorb01 .av {
	background-color: #fff;
}
.jssorb01 .dn, .jssorb01 .dn:hover {
	background-color: #555555;
}
.jssora05l, .jssora05r {
	display: block;
	position: absolute;           
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('../imgs/banner/a17.png') no-repeat;
	overflow: hidden;
}
.jssora05l {
	background-position: -10px -40px;
}
.jssora05r {
	background-position: -70px -40px;
}
.jssora05l:hover {
	background-position: -130px -40px;
}
.jssora05r:hover {
	background-position: -190px -40px;
}
.jssora05l.jssora05ldn {
	background-position: -250px -40px;
}
.jssora05r.jssora05rdn {
	background-position: -310px -40px;
}
.form {
	border: 1px solid #CCC;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	width: 90%;
}
.form:focus {
	background: #ADD8E6;
}

.btn {
	padding: 10px;
	background: #7B68EE;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	transition: all 0.5s;
}
h3 {
    display: inline-block;
    width: 200px;
    text-align: center;
}
label {
    display: inline-block;
    width:100px;
    text-align: right;
}

select {
	background-color: white;
}

select option {
	background-color: white;	
}
footer{
	background: #303152;
	float: left;
	padding: 10px 0px;
	text-align: center;
	color: #FFF;
	width: 100%;
}
footer p {
	font: 14px "Open Sans", Verdana;
	text-align: center;
	text-indent: 2em;
	line-height: 200%;
}
footer a {
	font: 14px "Open Sans", Verdana;
	text-align: center;
	text-indent: 2em;
	line-height: 200%;
	text-decoration: none;
	color: #606062;
}
